*{
    box-sizing:border-box;
    text-transform: uppercase;
}

body{
    background: black;
    margin: 0;
}

#wrapper{
    width:100%;
    max-width: 800px;
    margin: 40px auto;
    
}

h2{
    color: #fff;
    font-weight: normal;
    text-align: center;
    font-size: 48px;
    font-family: cursive;
  }

.panels{
    padding:0;
    list-style-type: none;
    margin: 0;
}

.panels li{
    position: relative;
    width: 25%;
    display: block;
    float: left;
    
    
}

.panels li div{
    width: 100%;
    padding: 50% 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 0;
    cursor: pointer;
  }


/* ********************************************* */

.back{
    transform: rotateY(90deg);
}

.front{
    position: absolute;
}


.panels li:hover div.front{
    animation: turn 0.2s ease-in forwards;
}

.panels li:hover div.back{
    animation: turn 0.2s 0.2s ease-out forwards reverse;
}


@keyframes turn{
    0%{transform: rotateY(0deg)}
    100%{transform: rotateY(90deg)}
};



